@page
@model PcbErpApi.Pages.CUR.CURdV_SysProcess_WEBModel
@{
    Layout = "_Layout";
}

<h3>登入現況表</h3>

<partial name="~/Pages/Shared/_TableSingleGrid.cshtml" model="Model" />

@await Html.PartialAsync("~/Pages/Shared/_FieldDictModal.cshtml", ViewData["FieldDictList"], ViewData)
<script>window._dictTableName = 'CURdV_SysProcess_WEB';</script>
<script src="~/js/fieldDictModal.js"></script>




