@page
@model PcbErpApi.Pages.CUR.CURdSysItemsModel
@{
    Layout = "_Layout";
}

<h3 class="mb-3">程式名稱語系設定</h3>

<partial name="~/Pages/Shared/_TableSingleGrid.cshtml" model="Model" />

@await Html.PartialAsync("~/Pages/Shared/_FieldDictModal.cshtml", ViewData["FieldDictList"], ViewData)
<script>window._dictTableName = 'CURdSysItemsLang';</script>
<script src="~/js/fieldDictModal.js"></script>
