@model PaginationModel
<span class="order-count">
    共 <span style="font-weight:bold">@Model.TotalCount</span> 筆，
    顯示第 @(((Model.PageNumber - 1) * Model.PageSize) + 1)
    ~ @(Math.Min(Model.PageNumber * Model.PageSize, Model.TotalCount)) 筆
</span>