@page "/FME/FME00011"
@model PcbErpApi.Pages.FME.FME00011Model
@{
    Layout = "_Layout";
    ViewData["Title"] = $"{Model.ItemId} {Model.ItemName}";
}

<div class="container py-3">
    <div class="alert alert-info mb-3">
        <div><strong>@Model.ItemId @Model.ItemName</strong></div>
        <div>已切換至專屬路徑，實際作業畫面由 Paper 引擎載入。</div>
    </div>
    <a class="btn btn-primary" href="/DynamicTemplate/Paper/@Model.ItemId">開啟作業</a>
</div>
