@page
@model PcbErpApi.Pages.FQCdProcInfo.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "製程大站管理";
}

<h3 class="mb-3">製程大站管理 (FQCdProcInfo)</h3>

<partial name="~/Pages/Shared/_MasterMultiDetailTemplate.cshtml" model="Model.Config" />

<script>
// 設定辭典表名稱給 F3 使用
window._dictTableName = 'FQCdProcInfo';
</script>
