@page
@using PcbErpApi.Pages
@model IndexModel
@{
    ViewData["Title"] = "DataTables 前端加總分析";
}

<h2>產品銷售分析（前端示範）</h2>

<!-- 表格區域 -->
<table id="salesTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>產品名稱</th>
            <th>數量</th>
            <th>單價</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>蘋果</td><td>10</td><td>30</td></tr>
        <tr><td>香蕉</td><td>5</td><td>15</td></tr>
        <tr><td>橘子</td><td>8</td><td>20</td></tr>
        <tr><td>芒果</td><td>12</td><td>25</td></tr>
    </tbody>
    <tfoot>
        <tr>
            <th>總計：</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<!-- 引用 CSS & JS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#salesTable').DataTable({
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api();

                // Helper: 轉換成數字
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        parseFloat(i.replace(/[\$,]/g, '')) :
                        typeof i === 'number' ? i : 0;
                };

                // 加總「數量」
                var totalQty = api
                    .column(1)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // 加總「單價」
                var totalPrice = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // 更新頁尾
                $(api.column(1).footer()).html(totalQty);
                $(api.column(2).footer()).html('$' + totalPrice.toFixed(2));
            }
        });
    });
</script>
