@page "/FQC/FQCdQCType"
@model PcbErpApi.Pages.FQCdQCType.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ME106 檢驗規範建立";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
else if (Model.Config != null)
{
    <partial name="~/Pages/Shared/_MasterMultiDetailTemplate.cshtml" model="Model.Config" />

    @await Html.PartialAsync("~/Pages/Shared/_FieldDictModal.cshtml", null, ViewData)
    <script src="~/js/fieldDictModal.js" asp-append-version="true"></script>

    <script>
    window._dictTableName = '@Model.Config.MasterDict';
    </script>
    <script src="~/js/paper/FQC00002.js" asp-append-version="true"></script>
}
